/* line 7, ../sass/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**************************
    $$ Base
**************************/
/***********************
    $$ Reset
***********************/
/* line 29, ../sass/_base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

/* line 30, ../sass/_base.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 34, ../sass/_base.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_base.scss */
html, button, input, select, textarea {
  font-family: "Ubuntu", serif;
  color: #e8efd6;
}

/* line 36, ../sass/_base.scss */
body {
  margin: 0;
  background: none;
  color: #e8efd6;
  font-size: 1em;
  line-height: 1em;
}

/* line 38, ../sass/_base.scss */
::-moz-selection {
  background: #adc381;
  color: #fff;
  text-shadow: none;
}

/* line 39, ../sass/_base.scss */
::selection {
  background: #adc381;
  color: #fff;
  text-shadow: none;
}

/*********************
	$$ Links
*********************/
/* line 46, ../sass/_base.scss */
a {
  color: #adc381;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

/* line 52, ../sass/_base.scss */
a:hover {
  color: #c3d3a4;
}

/* line 55, ../sass/_base.scss */
a:visited {
  color: #adc381;
}

/* line 56, ../sass/_base.scss */
a:focus {
  outline: none;
}

/* line 57, ../sass/_base.scss */
a:hover, a:active {
  outline: 0;
}

/********************
	$$ Typography
********************/
/* line 64, ../sass/_base.scss */
body {
  font-family: "Ubuntu", serif;
  font-size: 1em;
  -webkit-backface-visibility: hidden;
}
/* line 68, ../sass/_base.scss */
body p {
  font-family: "Ubuntu", serif;
}

/* line 77, ../sass/_base.scss */
h1, h2, h3, h4, h5 {
  margin: 0 0 1em 0;
  font-size: 100%;
  font-weight: normal;
  font-family: "Ubuntu", serif;
  text-transform: uppercase;
}

/* line 85, ../sass/_base.scss */
h1 {
  font-size: 32px;
  line-height: 34px;
}

/* line 86, ../sass/_base.scss */
h2 {
  font-size: 24px;
  line-height: 26px;
}

/* line 87, ../sass/_base.scss */
h3 {
  font-size: 17px;
  line-height: 24px;
}

/* line 88, ../sass/_base.scss */
h4 {
  font-size: 14px;
  line-height: 20px;
}

/* line 90, ../sass/_base.scss */
h1, h2, h3, h4 {
  color: #e8efd6;
}
/* line 92, ../sass/_base.scss */
h1 a, h2 a, h3 a, h4 a {
  color: #e8efd6;
}
/* line 94, ../sass/_base.scss */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
  color: #adc381;
}

/* line 102, ../sass/_base.scss */
p + h2,
p + h3,
p + h4 {
  margin: 1.5em 0 1em;
}

/* line 103, ../sass/_base.scss */
p {
  margin: 0 0 1em;
  font-size: 1em;
  line-height: 1.5;
}

/* line 107, ../sass/_base.scss */
b, strong {
  font-weight: bold;
}

/* line 108, ../sass/_base.scss */
i, em {
  font-style: italic;
}

/* line 109, ../sass/_base.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 115, ../sass/_base.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*************************
	$$ Lists
*************************/
/* line 125, ../sass/_base.scss */
ul, ol {
  margin: 0 0 1em 1.5em;
  padding: 0;
  list-style-position: inside;
  list-style-image: none;
}

/* line 131, ../sass/_base.scss */
ul {
  list-style-type: disc;
}

/* line 132, ../sass/_base.scss */
ol {
  list-style-type: decimal;
}

/* line 133, ../sass/_base.scss */
li {
  line-height: 1em;
  font-size: inherit;
  padding: 0;
}

/* line 139, ../sass/_base.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/************************
	$$ Tables
************************/
/* line 148, ../sass/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/************************
	$$ Images
************************/
/* line 157, ../sass/_base.scss */
img, a img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

/* line 163, ../sass/_base.scss */
figure {
  margin: 0;
}

/* line 164, ../sass/_base.scss */
figcaption {
  margin: 1em 0;
  font-style: italic;
}

/**************************
	$$ Forms
**************************/
/* line 173, ../sass/_base.scss */
form {
  margin: 0;
}

/* line 174, ../sass/_base.scss */
label {
  cursor: pointer;
}

/* line 175, ../sass/_base.scss */
input, select, textarea {
  margin: 0 0 1em;
}

/* line 176, ../sass/_base.scss */
input, select, textarea {
  font: inherit;
}

/* line 177, ../sass/_base.scss */
button, input, select, textarea {
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 181, ../sass/_base.scss */
button, input {
  line-height: normal;
}

/* line 184, ../sass/_base.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

/* line 188, ../sass/_base.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 200, ../sass/_base.scss */
.app .section-wrap-app:before, .section-wrap:before, .site-header:before, .help ul:before,
.app .section-wrap-app:after,
.section-wrap:after,
.site-header:after,
.help ul:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 204, ../sass/_base.scss */
.app .section-wrap-app:after, .section-wrap:after, .site-header:after, .help ul:after {
  clear: both;
}

/* line 207, ../sass/_base.scss */
.main-title h1, .main-title h2 {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

/* line 212, ../sass/_base.scss */
.app .section-title {
  text-align: left;
  text-indent: -9999px;
}

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
}
}
/* line 18, ../sass/_grid.scss */
.section-title, .section-content {
  float: left;
}

/* line 21, ../sass/_grid.scss */
.section-title {
  width: 16.66667%;
  text-align: right;
}
@media screen and (max-width: 800px) {
  /* line 21, ../sass/_grid.scss */
  .section-title {
    float: none;
    width: 83.33333%;
    margin-left: 16.66667%;
    text-align: left;
  }
}
@media screen and (max-width: 400px) {
  /* line 21, ../sass/_grid.scss */
  .section-title {
    width: 90%;
    margin: 0 auto 0.5em;
    padding: 0;
  }
}

/* line 38, ../sass/_grid.scss */
.section-content {
  width: 83.33333%;
  padding: 0 16.66667% 2em 4%;
}
@media screen and (max-width: 800px) {
  /* line 38, ../sass/_grid.scss */
  .section-content {
    float: none;
    margin-left: 16.66667%;
    padding-left: 0;
  }
}
@media screen and (max-width: 400px) {
  /* line 38, ../sass/_grid.scss */
  .section-content {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
}

/* line 9, ../sass/_nav.scss */
.site-header {
  position: fixed;
  width: 100%;
  z-index: 10;
}
/* line 17, ../sass/_nav.scss */
.site-header:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #d8dfbd;
  border-bottom: 2px solid #a5b567;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
@media screen and (max-width: 400px) {
  /* line 9, ../sass/_nav.scss */
  .site-header {
    position: absolute;
  }
}

/* line 36, ../sass/_nav.scss */
.main-nav {
  float: right;
  margin-right: 10%;
}
@media screen and (max-width: 400px) {
  /* line 36, ../sass/_nav.scss */
  .main-nav {
    margin-right: 5.5%;
  }
}
/* line 44, ../sass/_nav.scss */
.main-nav a {
  position: relative;
  float: left;
  margin: 0;
  padding: 0.75em 2em;
  font-size: 0.875em;
  color: #61543a;
  background: #d8dfbd;
  border: 2px solid #a5b567;
  border-top: none;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 20;
}
/* line 63, ../sass/_nav.scss */
.main-nav a:first-child, .main-nav a:last-child {
  z-index: 30;
}
/* line 66, ../sass/_nav.scss */
.main-nav a:first-child:before, .main-nav a:last-child:before {
  content: '';
  position: absolute;
  top: 0;
  width: 50%;
  height: 10px;
  background: #d8dfbd;
}
/* line 76, ../sass/_nav.scss */
.main-nav a:first-child {
  border-right: none;
}
/* line 79, ../sass/_nav.scss */
.main-nav a:first-child:before {
  left: -10%;
}
/* line 83, ../sass/_nav.scss */
.main-nav a:last-child {
  border-left: none;
}
/* line 86, ../sass/_nav.scss */
.main-nav a:last-child:before {
  right: -10%;
}
/* line 90, ../sass/_nav.scss */
.main-nav a:hover {
  padding-top: 1.25em;
}
@media screen and (max-width: 400px) {
  /* line 44, ../sass/_nav.scss */
  .main-nav a {
    padding: 0.75em 1.5em;
  }
}

/* line 9, ../sass/_contribute-github.scss */
.contribute-github {
  position: absolute;
  top: 50px;
  left: -50px;
  display: block;
  width: 250px;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 4em 0 2em;
  color: #fff;
  font-size: 12px;
  font-family: 'Collegiate','Ubuntu','Helvetica','Arial',sans-serif;
  text-align: center;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  opacity: 1;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  background: #880000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b30000), color-stop(100%, #880000));
  background: -webkit-linear-gradient(#b30000, #880000);
  background: -moz-linear-gradient(#b30000, #880000);
  background: -o-linear-gradient(#b30000, #880000);
  background: linear-gradient(#b30000, #880000);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 0;
}
@media screen and (max-width: 540px) {
  /* line 9, ../sass/_contribute-github.scss */
  .contribute-github {
    opacity: 0;
  }
}
/* line 39, ../sass/_contribute-github.scss */
.contribute-github:hover {
  color: #f9ecec;
}
/* line 41, ../sass/_contribute-github.scss */
.contribute-github:before {
  content: "";
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 100%;
  height: 2em;
  border: 1px dotted #e6b2b2;
  border-left: none;
  border-right: none;
}

/* line 8, ../sass/_app.scss */
.app {
  position: relative;
  background: #adc381;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #dae4c6), color-stop(100%, #adc381));
  background: -webkit-radial-gradient(50px 100px, #dae4c6, #adc381);
  background: -moz-radial-gradient(50px 100px, #dae4c6, #adc381);
  background: -o-radial-gradient(50px 100px, #dae4c6, #adc381);
  background: radial-gradient(at 50px 100px, #dae4c6, #adc381);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
/* line 24, ../sass/_app.scss */
.app:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7px;
  background: #a2bb70;
  z-index: 0;
}
/* line 38, ../sass/_app.scss */
.app .section-wrap-app {
  padding-top: 1.5em;
  padding-bottom: 1em;
}
@media screen and (max-width: 400px) {
  /* line 38, ../sass/_app.scss */
  .app .section-wrap-app {
    padding-bottom: 4em;
  }
}
@media screen and (max-width: 800px) {
  /* line 47, ../sass/_app.scss */
  .app .section-title {
    height: 0;
    media: 0;
  }
}
/* line 55, ../sass/_app.scss */
.app .intro-copy {
  padding: 0;
}

/* line 58, ../sass/_app.scss */
.main-title {
  margin: 0 auto 1em;
}
@media screen and (max-width: 400px) {
  /* line 58, ../sass/_app.scss */
  .main-title {
    margin-top: 1em;
  }
}
/* line 67, ../sass/_app.scss */
.main-title .logo, .main-title .logo-fallback {
  display: block;
  margin: 0 auto;
}

/* line 73, ../sass/_app.scss */
.no-svg .logo,
.svg .logo-fallback {
  display: none;
}

/* line 75, ../sass/_app.scss */
.verbose-container {
  -webkit-transform: translateZ(0);
}

/* line 84, ../sass/_app.scss */
.verbose {
  display: block;
  width: 90%;
  margin: 0 auto 1em;
  padding: 0.5em 0.75em;
  color: #333;
  font-size: 2em;
  text-align: center;
  border: 1px solid #7c9648;
  box-shadow: 0px 0px 25px rgba(173, 195, 129, 0.3), inset 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 100, ../sass/_app.scss */
.verbose:focus, .verbose:active {
  outline: none;
  box-shadow: 0px 0px 25px rgba(124, 150, 72, 0.7), inset 5px 5px 15px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 400px) {
  /* line 84, ../sass/_app.scss */
  .verbose {
    font-size: 1.5em;
  }
}

/* line 111, ../sass/_app.scss */
::-webkit-input-placeholder {
  color: #999;
  font-style: italic;
}

/* line 114, ../sass/_app.scss */
::-moz-placeholder {
  color: #999;
  font-style: italic;
}

/* line 117, ../sass/_app.scss */
:-moz-placeholder {
  color: #999;
  font-style: italic;
}

/* line 120, ../sass/_app.scss */
:-ms-input-placeholder {
  color: #999;
  font-style: italic;
}

/* line 129, ../sass/_app.scss */
.tooltip {
  display: none;
  position: absolute;
  bottom: 110%;
  padding: 0.75em 1.5em;
  color: #61543a;
  font-size: 0.875em;
  background: #dae4c6;
  border: 1px solid #7c9648;
  border-radius: 0.5em;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: all, 0.5s ease;
  -moz-transition: all, 0.5s ease;
  -o-transition: all, 0.5s ease;
  transition: all, 0.5s ease;
  z-index: 10;
}
/* line 148, ../sass/_app.scss */
.tooltip.is-visible {
  display: block;
  opacity: 1;
}
/* line 150, ../sass/_app.scss */
.tooltip:after {
  content: "";
  position: absolute;
  bottom: -25%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin-left: -0.5em;
  background: #dae4c6;
  border: 1px solid #7c9648;
  border-top: none;
  border-left: none;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

/* line 175, ../sass/_app.scss */
.section-content-app p {
  color: #666;
}
/* line 176, ../sass/_app.scss */
.section-content-app a {
  color: #607437;
}
/* line 177, ../sass/_app.scss */
.section-content-app a:hover {
  color: #7c9648;
}

/* line 180, ../sass/_app.scss */
.result-container {
  display: none;
  position: relative;
}
/* line 184, ../sass/_app.scss */
.result-container pre {
  position: relative;
  margin: 0 0 2em;
  padding: 2em 4em 2em 1em;
  background: #d8dfbd;
  border: 1px solid #7c9648;
  border-radius: 0.5em;
}
/* line 194, ../sass/_app.scss */
.result-container .result {
  color: #333;
  font-size: 1.5em;
  font-family: 'Ubuntu Mono', monospace;
  line-height: 1.5em;
}
/* line 200, ../sass/_app.scss */
.result-container .result:hover abbr {
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0.3;
}
/* line 204, ../sass/_app.scss */
.result-container .result:hover abbr:hover {
  border-bottom: 1px solid #7c9648;
  opacity: 1;
}
/* line 211, ../sass/_app.scss */
.result-container .part {
  cursor: help;
  padding: 0.25em 0;
  border: 0;
}
/* line 217, ../sass/_app.scss */
.result-container .copy-result {
  cursor: pointer;
  position: absolute;
  top: 0.25em;
  right: 0.5em;
  z-index: 1;
  color: #adc381;
  font-size: 0.75em;
  line-height: 20px;
}
/* line 227, ../sass/_app.scss */
.result-container .copy-result:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  background: url("../images/icon-copy.svg");
  background-size: 100%;
}
/* line 240, ../sass/_app.scss */
.result-container .copy-me {
  display: none;
  position: absolute;
  top: 1.33333em;
  left: 0.66667em;
  width: 85%;
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 1.5em;
  font-family: 'Ubuntu Mono', monospace;
  line-height: 1.5em;
  border: 1px solid #d8dfbd;
  background: #d8dfbd;
  resize: none;
}
/* line 259, ../sass/_app.scss */
.result-container .copy-me:focus {
  outline: none;
}
/* line 263, ../sass/_app.scss */
.result-container.busy-copying .copy-me {
  display: block;
}

/* line 274, ../sass/_app.scss */
.help {
  position: absolute;
  top: 100%;
  right: 10%;
  width: 400px;
  padding: 1em;
  color: #61543a;
  font-size: 0.8125em;
  background: #d8dfbd;
  border: 2px solid #a5b567;
  border-bottom: 0;
  border-radius: 10px 0 0 0;
  box-shadow: -3px -3px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 5;
}
/* line 293, ../sass/_app.scss */
.help:after {
  content: "";
  position: absolute;
  bottom: -1em;
  left: -2px;
  width: 100%;
  height: 1em;
  background: #d8dfbd;
  border: 2px solid #a5b567;
  border-top: 0;
  border-bottom: 0;
  box-shadow: -3px 2px 6px rgba(0, 0, 0, 0.1);
}
/* line 310, ../sass/_app.scss */
.help:hover {
  margin-top: -1.25em;
}
/* line 313, ../sass/_app.scss */
.help.is-active:hover {
  margin-top: 0;
}
/* line 317, ../sass/_app.scss */
.help ul {
  margin: 1.5em 0 0 0;
}
/* line 321, ../sass/_app.scss */
.help li {
  float: left;
  width: 50%;
  margin: 0 0 0.5em;
}
/* line 326, ../sass/_app.scss */
.help li a {
  text-transform: capitalize;
}
/* line 328, ../sass/_app.scss */
.help a {
  color: #517005;
}
/* line 329, ../sass/_app.scss */
.help a:hover {
  color: #74a107;
}
@media screen and (max-width: 400px) {
  /* line 274, ../sass/_app.scss */
  .help {
    width: 90%;
    right: 5%;
  }
}

/* line 336, ../sass/_app.scss */
.help-tab {
  position: absolute;
  bottom: 100%;
  right: -2px;
  display: inline-block;
  margin: 0;
  padding: 0.75em 2em 1em;
  font-size: 1.077em;
  text-transform: none;
  background: #d8dfbd;
  border: 2px solid #a5b567;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  box-shadow: -3px -3px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 355, ../sass/_app.scss */
.help-tab a {
  color: #61543a;
}
/* line 357, ../sass/_app.scss */
.help-tab a:hover {
  color: #61543a;
}

/* line 7, ../sass/_sections.scss */
.section-wrap {
  max-width: 860px;
  margin: 0 auto;
  padding: 3em 2% 1em;
}
/* line 13, ../sass/_sections.scss */
.section-wrap p {
  padding-right: 2em;
}
@media screen and (max-width: 600px) {
  /* line 13, ../sass/_sections.scss */
  .section-wrap p {
    padding-right: 1em;
  }
}
@media screen and (max-width: 500px) {
  /* line 13, ../sass/_sections.scss */
  .section-wrap p {
    padding: 0;
  }
}

/* line 39, ../sass/_sections.scss */
.about {
  background: #61543a;
  border-bottom: 7px solid #514630;
}

/* line 53, ../sass/_sections.scss */
.contribute {
  background: #342f2b url("../images/watermark.svg") center 9em repeat-x;
  border-bottom: 7px solid #26221f;
}

/* line 57, ../sass/_sections.scss */
.section-wrap-contribute {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(52, 47, 43, 0)), color-stop(30%, rgba(52, 47, 43, 0.9)), color-stop(70%, rgba(52, 47, 43, 0.9)), color-stop(100%, rgba(52, 47, 43, 0)));
  background: -webkit-linear-gradient(left, rgba(52, 47, 43, 0), rgba(52, 47, 43, 0.9) 30%, rgba(52, 47, 43, 0.9) 70%, rgba(52, 47, 43, 0));
  background: -moz-linear-gradient(left, rgba(52, 47, 43, 0), rgba(52, 47, 43, 0.9) 30%, rgba(52, 47, 43, 0.9) 70%, rgba(52, 47, 43, 0));
  background: -o-linear-gradient(left, rgba(52, 47, 43, 0), rgba(52, 47, 43, 0.9) 30%, rgba(52, 47, 43, 0.9) 70%, rgba(52, 47, 43, 0));
  background: linear-gradient(left, rgba(52, 47, 43, 0), rgba(52, 47, 43, 0.9) 30%, rgba(52, 47, 43, 0.9) 70%, rgba(52, 47, 43, 0));
}

/* line 60, ../sass/_sections.scss */
.section-title-contribute {
  position: relative;
  left: -0.5em;
}
@media screen and (max-width: 800px) {
  /* line 60, ../sass/_sections.scss */
  .section-title-contribute {
    left: 0;
  }
}

/* line 76, ../sass/_sections.scss */
.site-footer {
  position: relative;
  background: #272727;
  border-bottom: 7px solid #1a1a1a;
}
/* line 81, ../sass/_sections.scss */
.site-footer .foot-note {
  font-size: 0.75em;
  color: #888;
}
/* line 85, ../sass/_sections.scss */
.site-footer .foot-note a {
  color: #888;
}
/* line 86, ../sass/_sections.scss */
.site-footer .foot-note a:hover {
  color: #ccc;
}

/* line 89, ../sass/_sections.scss */
.section-wrap-footer {
  padding-bottom: 1em;
}
@media screen and (max-width: 730px) {
  /* line 89, ../sass/_sections.scss */
  .section-wrap-footer {
    padding-top: 150px;
  }
}

/* line 7, ../sass/_miner.scss */
.reggie-the-miner {
  position: absolute;
  top: 20px;
  left: -40px;
  width: 181px;
  height: 140px;
  background: url("../images/miner-sprite.svg");
  background-size: auto 100%;
  z-index: 10;
}

/* line 20, ../sass/_miner.scss */
.tunnel {
  position: absolute;
  right: 0;
  top: -20px;
  width: 330px;
  height: 175px;
  background: url("../images/tunnel.svg");
  background-size: auto 100%;
  z-index: 20;
}
/* line 31, ../sass/_miner.scss */
.tunnel:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/tunnel-mask.svg");
  background-size: auto 100%;
  z-index: 30;
}
/* line 44, ../sass/_miner.scss */
.no-svg .tunnel {
  width: 359px;
  height: 169px;
  background: url("../images/miner-fallback.png");
}

@-webkit-keyframes chipping-away {
  /* line 52, ../sass/_miner.scss */
  from {
    background-position: 0 0;
  }

  /* line 53, ../sass/_miner.scss */
  to {
    background-position: -905px 0;
  }
}

@-moz-keyframes chipping-away {
  /* line 52, ../sass/_miner.scss */
  from {
    background-position: 0 0;
  }

  /* line 53, ../sass/_miner.scss */
  to {
    background-position: -905px 0;
  }
}

@-o-keyframes chipping-away {
  /* line 52, ../sass/_miner.scss */
  from {
    background-position: 0 0;
  }

  /* line 53, ../sass/_miner.scss */
  to {
    background-position: -905px 0;
  }
}

@keyframes chipping-away {
  /* line 52, ../sass/_miner.scss */
  from {
    background-position: 0 0;
  }

  /* line 53, ../sass/_miner.scss */
  to {
    background-position: -905px 0;
  }
}

/* line 68, ../sass/_miner.scss */
.excavating .reggie-the-miner {
  -webkit-animation: chipping-away 0.5s steps(5) infinite;
  -moz-animation: chipping-away 0.5s steps(5) infinite;
  -o-animation: chipping-away 0.5s steps(5) infinite;
  animation: chipping-away 0.5s steps(5) infinite;
}

@media screen and (min-width: 325px) and (max-width: 350px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 543px 0;
  }
}
@media screen and (min-width: 350px) and (max-width: 375px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 724px 0;
  }
}
@media screen and (min-width: 375px) and (max-width: 400px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 0px 0;
  }
}
@media screen and (min-width: 400px) and (max-width: 425px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 181px 0;
  }
}
@media screen and (min-width: 425px) and (max-width: 450px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 362px 0;
  }
}
@media screen and (min-width: 450px) and (max-width: 475px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 543px 0;
  }
}
@media screen and (min-width: 475px) and (max-width: 500px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 724px 0;
  }
}
@media screen and (min-width: 500px) and (max-width: 525px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 0px 0;
  }
}
@media screen and (min-width: 525px) and (max-width: 550px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 181px 0;
  }
}
@media screen and (min-width: 550px) and (max-width: 575px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 362px 0;
  }
}
@media screen and (min-width: 575px) and (max-width: 600px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 543px 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 625px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 724px 0;
  }
}
@media screen and (min-width: 625px) and (max-width: 650px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 0px 0;
  }
}
@media screen and (min-width: 650px) and (max-width: 675px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 181px 0;
  }
}
@media screen and (min-width: 675px) and (max-width: 700px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 362px 0;
  }
}
@media screen and (min-width: 700px) and (max-width: 725px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 543px 0;
  }
}
@media screen and (min-width: 725px) and (max-width: 750px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 724px 0;
  }
}
@media screen and (min-width: 750px) and (max-width: 775px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 0px 0;
  }
}
@media screen and (min-width: 775px) and (max-width: 800px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 181px 0;
  }
}
@media screen and (min-width: 800px) and (max-width: 825px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 362px 0;
  }
}
@media screen and (min-width: 825px) and (max-width: 850px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 543px 0;
  }
}
@media screen and (min-width: 850px) and (max-width: 875px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 724px 0;
  }
}
@media screen and (min-width: 875px) and (max-width: 900px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 0px 0;
  }
}
@media screen and (min-width: 900px) and (max-width: 925px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 181px 0;
  }
}
@media screen and (min-width: 925px) and (max-width: 950px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 362px 0;
  }
}
@media screen and (min-width: 950px) and (max-width: 975px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 543px 0;
  }
}
@media screen and (min-width: 975px) and (max-width: 1000px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 724px 0;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1025px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 0px 0;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1050px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 181px 0;
  }
}
@media screen and (min-width: 1050px) and (max-width: 1075px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 362px 0;
  }
}
@media screen and (min-width: 1075px) and (max-width: 1100px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 543px 0;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1125px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 724px 0;
  }
}
@media screen and (min-width: 1125px) and (max-width: 1150px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 0px 0;
  }
}
@media screen and (min-width: 1150px) and (max-width: 1175px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 181px 0;
  }
}
@media screen and (min-width: 1175px) and (max-width: 1200px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 362px 0;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1225px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 543px 0;
  }
}
@media screen and (min-width: 1225px) and (max-width: 1250px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 724px 0;
  }
}
@media screen and (min-width: 1250px) and (max-width: 1275px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 0px 0;
  }
}
@media screen and (min-width: 1275px) and (max-width: 1300px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 181px 0;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1325px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 362px 0;
  }
}
@media screen and (min-width: 1325px) and (max-width: 1350px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 543px 0;
  }
}
@media screen and (min-width: 1350px) and (max-width: 1375px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 724px 0;
  }
}
@media screen and (min-width: 1375px) and (max-width: 1400px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 0px 0;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1425px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 181px 0;
  }
}
@media screen and (min-width: 1425px) and (max-width: 1450px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 362px 0;
  }
}
@media screen and (min-width: 1450px) and (max-width: 1475px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 543px 0;
  }
}
@media screen and (min-width: 1475px) and (max-width: 1500px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 724px 0;
  }
}
@media screen and (min-width: 1500px) and (max-width: 1525px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 0px 0;
  }
}
@media screen and (min-width: 1525px) and (max-width: 1550px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 181px 0;
  }
}
@media screen and (min-width: 1550px) and (max-width: 1575px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 362px 0;
  }
}
@media screen and (min-width: 1575px) and (max-width: 1600px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 543px 0;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1625px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 724px 0;
  }
}
@media screen and (min-width: 1625px) and (max-width: 1650px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 0px 0;
  }
}
@media screen and (min-width: 1650px) and (max-width: 1675px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 181px 0;
  }
}
@media screen and (min-width: 1675px) and (max-width: 1700px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 362px 0;
  }
}
@media screen and (min-width: 1700px) and (max-width: 1725px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 543px 0;
  }
}
@media screen and (min-width: 1725px) and (max-width: 1750px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 724px 0;
  }
}
@media screen and (min-width: 1750px) and (max-width: 1775px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 0px 0;
  }
}
@media screen and (min-width: 1775px) and (max-width: 1800px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 181px 0;
  }
}
@media screen and (min-width: 1800px) and (max-width: 1825px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 362px 0;
  }
}
@media screen and (min-width: 1825px) and (max-width: 1850px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 543px 0;
  }
}
@media screen and (min-width: 1850px) and (max-width: 1875px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 724px 0;
  }
}
@media screen and (min-width: 1875px) and (max-width: 1900px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 0px 0;
  }
}
@media screen and (min-width: 1900px) and (max-width: 1925px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 181px 0;
  }
}
@media screen and (min-width: 1925px) and (max-width: 1950px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 362px 0;
  }
}
@media screen and (min-width: 1950px) and (max-width: 1975px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 543px 0;
  }
}
@media screen and (min-width: 1975px) and (max-width: 2000px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 724px 0;
  }
}
@media screen and (min-width: 2000px) and (max-width: 2025px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 0px 0;
  }
}
@media screen and (min-width: 2025px) and (max-width: 2050px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 181px 0;
  }
}
@media screen and (min-width: 2050px) and (max-width: 2075px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 362px 0;
  }
}
@media screen and (min-width: 2075px) and (max-width: 2100px) {
  /* line 86, ../sass/_miner.scss */
  .reggie-the-miner {
    background-position: 543px 0;
  }
}
