//*************************
//  	$$ App
//**************************

$color-app-light:lighten($color-app, 20%);
$color-app-dark:darken($color-app, 20%);

.app {
	position:relative;
	@include background(radial-gradient(color-stops($color-app-light, $color-app), 50px 100px));
	border-bottom:7px solid darken($color-app, 5%);
	box-shadow:0px 5px 40px rgba(0,0,0,0.4);

	.section-wrap-app {
		@extend %column-container;
		padding-top:1.5em;
		padding-bottom:1em;
	}
}

.main-title {
	width:550px;
	height:240px;
	margin:0 auto 2em;

	background:url('../images/logo.svg') top left no-repeat;
	background-size:100%;
}

// <input class="verbose">
.verbose {
	display:block;
	width:90%;
	margin:0 auto 2em;
	padding:0.5em 0.75em;

	color:#333;
	font-size:2em;

	border:1px solid $color-app-dark;
	box-shadow:0px 0px 25px rgba($color-link, 0.3),
	           inset 5px 5px 15px rgba(0,0,0,0.2);
	border-radius:0.5em;
	@include transition(all 0.5s ease);

	&:focus, &:active {
		outline:none;
		box-shadow:0px 0px 25px saturate(rgba($color-link, 0.6), 100%),
		           inset 5px 5px 15px rgba(0,0,0,0.2);
	}
}

@mixin placeholder() {
	::-webkit-input-placeholder {
		@content;
	}
	::-moz-placeholder {
		@content;
	}
	:-moz-placeholder {
		@content;
	}
	:-ms-input-placeholder {
		@content;
	}
}
@include placeholder(){
	color:#999;
	font-style:italic;
}

.tooltip {
	position:absolute;
	bottom:110%;

	padding:0.75em 1.5em;

	color:$color-about;
	font-size:0.875em; // 14px / 16px

	background:$color-app-light;
	border:1px solid $color-app-dark;
	border-radius:0.5em;
	box-shadow:0px 3px 5px rgba(black, 0.2);

	opacity:0;
	@include transition(all, 0.5s ease);
	z-index:10;

	&.is-visible { opacity:1; }

	&:after {
		content:"";

		position:absolute;
		bottom:-25%;
		left:50%;

		width:1em;
		height:1em;
		margin-left:-0.5em;

		background:$color-app-light;
		border:1px solid $color-app-dark;
		border-top:none;
		border-left:none;
		@include rotate(45deg);
		box-shadow:3px 3px 5px rgba(black, 0.2);

		z-index:-1;
	}
}


.result-title {
	@extend %column-1-of-6;
}
.result-content {
	@extend %column-5-of-6;

	p { color:#666; }
}
.result-container {
	position:relative;
	margin-bottom:2em;
	padding:1em 4em 1em 1em;
	
	background:rgba(white, 0.3);
	border:1px solid $color-app-dark;
	border-radius:0.5em;

	.result {
		color:#333;
		font-size:1.5em; // 24px / 16px
		font-family:'Ubuntu Mono', monospace;

		&:hover abbr {
			@include transition(opacity 0.5s ease);
			opacity:0.3;

			&:hover {
				border-bottom:1px solid $color-app-dark;
				opacity:1;
			}
		}
	}

	abbr {
		cursor:help;
		padding:0.25em 0; // larger hover target
	}

	.copy-result {
		position:absolute;
		top:0.25em;
		right:0.5em;

		color:$color-app;
		@include font(0.75em, 20px); // 12px / 16px and line-height to match icon

		&:before {
			content:"";

			display:inline-block;
			width:20px;
			height:20px;
			line-height:20px;
			vertical-align:middle;

			background:url('../images/icon-copy.svg');
			background-size:100%;
		}
	}

}
