//*************************
//  	$$ contribute
//**************************


$color-contribute-light:lighten($color-contribute, 20%);
$color-contribute-dark:darken($color-contribute, 20%);

.contribute {
	background:$color-contribute url('../images/watermark.svg') center center repeat-x;
	border-bottom:7px solid darken($color-contribute, 5%);

	.section-wrap-contribute {
		@extend %column-container;
		padding-top:3em;
		padding-bottom:1em;
	}
}

.contribute-title {
	@extend %column-1-of-6;
	position:relative;
	left:-0.5em; // the word overflows the width of the container so tweak it back
}
.contribute-content {
	@extend %column-5-of-6;
}
