//*************************
//  	$$ footer
//**************************


$color-footer-light:lighten($color-footer, 20%);
$color-footer-dark:darken($color-footer, 20%);

.site-footer {
	background:$color-footer;
	border-bottom:7px solid darken($color-footer, 5%);

	.section-wrap-footer {
		@extend %column-container;
		padding-top:3em;
		padding-bottom:1em;
	}
	a { color:$color-link-footer; }
}

.footer-title {
	@extend %column-1-of-6;
}
.footer-content {
	@extend %column-5-of-6;
}
