//*************************
//  	$$ Miner
//**************************

.reggie-the-miner {
	position:absolute;
	top:-20px;
	right:200px;

	width:150px;
	height:170px;
	background:url('../images/miner.svg');
	background-size:100%;

	z-index:100;

	&:after {
		content:"";
		position:absolute;
		top:1px;
		left:100%;

		width:385px;
		height:100%;
		background:url('../images/tunnel.svg') repeat-x;
		background-size:100%;

		z-index:-10;
	}
}
@mixin chipping {
	from { background-position:0 0; }
	to { background-position:-750px 0; }
}

@-webkit-keyframes chipping-away {
	@include chipping;
}
@-moz-keyframes chipping-away {
	@include chipping;
}
@-o-keyframes chipping-away {
	@include chipping;
}
@keyframes chipping-away {
	@include chipping;
}
.excavating .reggie-the-miner {
	// No Compass animation without an extra plugin :s - not up for adding extra compass dependencies just for this.
	-webkit-animation: chipping-away 0.5s steps(5) infinite; // Safari 5, Chrome
	   -moz-animation: chipping-away 0.5s steps(5) infinite; // Firefox 5-15
	     -o-animation: chipping-away 0.5s steps(5) infinite; // Opera 12+
	        animation: chipping-away 0.5s steps(5) infinite; // Safari 5, Chrome, Firefox 16+
}

// Mediaquery easter egg - Reggie mines as you resize the browser.
// Let's use a small interval and many media queries to make a nice smooth animation.
// Start from ~320px for mobile and go all the way up to 2100px for widescreen
// When we minify and gzip this sucker, it should be all well and good. 

$interval:25px;
@for $i from 13 through 83 {
	$from:($i*$interval); // eg. 325px
	$to:($i+1)*$interval; // eg. 350px
	@media screen and (min-width:$from) and (max-width:$to) {
		.reggie-the-miner {
			background-position:(-150px*($i % 5)) 0;
		}
	}
}
