//*************************
//  	$$ Miner
//**************************

$miner-width:181px;

.reggie-the-miner {
	position:absolute;
	top:20px;
	left:-40px;

	width:$miner-width;
	height:140px;
	background:url('../images/miner-sprite.svg');
	background-size:auto 100%;

	z-index:10;

}
.tunnel {
	position:absolute;
	right:0;
	top:-20px;

	width:330px;
	height:175px;
	background:url('../images/tunnel.svg');
	background-size:auto 100%;
	z-index:20;

	&:after {
		content:"";
		position:absolute;
		top:0;
		left:0;

		width:100%;
		height:100%;
		background:url('../images/tunnel-mask.svg');
		background-size:auto 100%;

		z-index:30; // above tunnel to mask lamp
	}
	.no-svg & {
		width:359px;
		height:169px;
		background:url('../images/miner-fallback.png');
	}

}
@mixin chipping {
	from { background-position:0 0; }
	to { background-position:-$miner-width*5 0; }
}

@-webkit-keyframes chipping-away {
	@include chipping;
}
@-moz-keyframes chipping-away {
	@include chipping;
}
@-o-keyframes chipping-away {
	@include chipping;
}
@keyframes chipping-away {
	@include chipping;
}
.excavating .reggie-the-miner {
	// No Compass animation without an extra plugin :s - not up for adding extra compass dependencies just for this.
	-webkit-animation: chipping-away 0.5s steps(5) infinite; // Safari 5, Chrome
	   -moz-animation: chipping-away 0.5s steps(5) infinite; // Firefox 5-15
	     -o-animation: chipping-away 0.5s steps(5) infinite; // Opera 12+
	        animation: chipping-away 0.5s steps(5) infinite; // Safari 5, Chrome, Firefox 16+
}

