//*************************
//  	$$ Nav
//**************************

$nav-border:2px solid darken($color-nav, 25%);
$nav-shadow:0px 2px 6px rgba(0,0,0,0.2);
$header-height:10px;

.site-header {
	@include box-sizing(content-box);
	position:relative;
	height:$header-height;

	background:$color-nav;
	border-bottom:$nav-border;
	box-shadow:$nav-shadow;

	z-index:10;
}
.main-nav {
	float:right;	
	margin-right:50px;
	a {
		position:relative;
		float:left;
		margin:0;
		padding:0.751em 2em;

		font-size:0.875em; // 14px / 16px
		color:$color-link-nav;

		background:$color-nav;
		border:$nav-border;
		border-top:none;
		border-radius:(0 0 10px 10px);
		box-shadow:$nav-shadow;

		z-index:20;

		&:first-child,
		&:last-child { 
			z-index:10; 
		
			&:before {
				content:'';
				position:absolute;
				top:0;

				width:50%;
				height:$header-height;
				background:$color-nav;
			}
		}
		&:first-child {
			border-right:none;

			&:before {
				left:-10%;
			}
		}
		&:last-child {
			border-left:none;

			&:before {
				right:-10%;
			}
		}
	}
}
.fork-me { position:absolute; }
