//*************************
//  	$$ Sections
//**************************

// Global setion styles

.section-wrap {
	@extend %column-container;
	max-width:860px;
	margin:0 auto;
	padding:3em 2% 1em;

	p {
		padding-right:2em;

		@media screen and (max-width:600px) {
			padding-right:1em;
		}
		@media screen and (max-width:500px) {
			padding:0;
		}
	}
}
.section-title {
	@extend %column-1-of-6;
}
.section-content {
	@extend %column-5-of-6;
}

//*************************
//  	$$ About
//**************************


$color-about-light:lighten($color-about, 20%);
$color-about-dark:darken($color-about, 20%);

.about {
	background:$color-about;
	border-bottom:7px solid darken($color-about, 5%);
}

//*************************
//  	$$ Tutorial
//**************************


$color-tutorial-light:lighten($color-tutorial, 20%);
$color-tutorial-dark:darken($color-tutorial, 20%);

.tutorial {
	background:$color-tutorial;
	border-bottom:7px solid darken($color-tutorial, 5%);

	.code {
		width:auto;
		overflow-x:scroll;
		white-space: pre;
		word-spacing: normal;
		word-wrap: normal;
		code { width:auto; }
	}
}

//*************************
//  	$$ contribute
//**************************


$color-contribute-light:lighten($color-contribute, 20%);
$color-contribute-dark:darken($color-contribute, 20%);
$color-contribute-faded:rgba($color-contribute, 0.9);

.contribute {
	background:$color-contribute url('../images/watermark.svg') center 9em repeat-x;
	border-bottom:7px solid darken($color-contribute, 5%);
}
.section-wrap-contribute {
	@include background(linear-gradient(left, rgba($color-contribute, 0), $color-contribute-faded 30%, $color-contribute-faded 70%, rgba($color-contribute, 0)));
}
.section-title-contribute {
	position:relative;
	left:-0.5em; // the word overflows the width of the container so tweak it back

	@media screen and (max-width:$media-medium) {
		left:0;
	}
}

//*************************
//  	$$ footer
//**************************

$color-footer-light:lighten($color-footer, 20%);
$color-footer-dark:darken($color-footer, 20%);

.site-footer {
	position:relative;
	background:$color-footer;
	border-bottom:7px solid darken($color-footer, 5%);

	.foot-note {
		font-size:0.75em; // 12px/16px
		color: #888;

		a { color:#888; }
		a:hover { color:#ccc; }
	}
}
.section-wrap-footer {
	padding-bottom:1em;

	@media screen and (max-width:730px) {
		padding-top:150px; // make space for reggie above copy
	}
}
