//*************************
//  	$$ Variables
//**************************

$color-app:#adc381; // light green
$color-about:#61543a; // brown
$color-contribute:#342f2b; // dark brown
$color-footer:#272727; // dark grey

$color-nav:#d8dfbd; // light green
$color-nav-link:$color-about;
$color-link:#517005; // dark green
$color-link-footer:$color-app;

$color-heading:#e8efd6; // very light green
$color-sub-heading:#574a2a; // brown
$color-copy:$color-heading;
